
<div class="title" id="home">
  <h1>The Next Step</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p>In need of a fresh fullstack-webdeveloper with a creative background and enthusiastic mindset ?</p>
      </div>
    </div>
  </div>
</div>


<div class="who">
  <div class="container-info">
    <div class="container-photo">
      <div class="pf-p">
        <%= image_tag 'tim-profile.jpg', \
        class: 'profile-pic' %>
      </div>
    </div>
    <div class="info-text">
      <h2>Want to get to know <b>me ?</b></h2>
      <p>Making, creating and doing are keywords that make a big part of my personality and are goals I live by. Diversity in my line of work is something I really treasure to widen our field of view for new opportunities.</p>

      <p>Creating an atmosphere where people feel at ease and get the opportunity to flourish is something to strive for. Working in a team where we can build on projects made bigger through collaboration is key.</p>

      <div class="line-left"></div>
    </div>
  </div>
  <a href="#contact"><div class="sphere" style="background-color:#FF6863"><i class="fa fa-angle-down" style="color:white"></i></div></a>
</div>

<div class="info" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-2">

        <h2>Get <b>Connected</b></h2>
        <div class="line-left"></div>
        <div class="content-info">
          <!-- <div class="contact-links"> -->
            <!-- <i class="mdi mdi-cellphone-iphone"></i> -->
            <!-- <div> + 31 6 15 83 29 91</div> -->
          <!-- </div> -->

          <div class="contact-links">
           <i class="mdi mdi-email-open"></i>
           <a href="mailto:tim.thuis@gmail.com?SUBJECT=Say Hello!">tim.thuis@gmail.com</a>
          </div>

          <div class="contact-links">
            <i class="fa fa-linkedin"></i>
            <a href="https://nl.linkedin.com/in/tim-thuis-8343088b" target="_blank">linkedin.com/timthuis</a>
          </div>

          <div class="contact-links">
            <i class="mdi mdi-github-circle"></i>
            <a href="http://www.github.com/TimThuis" target="_blank">github.com/timthuis</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">

        <h2>The <b>Statistics</b></h2>
        <div class="line-left"></div>

        <div class="content-info">

          <!-- <div class="contact-links"> -->
            <!-- <i class="mdi mdi-account"></i> -->
            <!-- <div>Tim Thuis</div> -->
          <!-- </div> -->

          <div class="contact-links">
            <i class="mdi mdi-cake-variant"></i>
            <div>26 year - 24 september 1989</div>
          </div>

          <div class="contact-links">
            <i class="mdi mdi-map-marker"></i>
            <a href="https://www.google.nl/maps/place/Haarlem/@52.3838233,4.5728393,12z/data=!3m1!4b1!4m2!3m1!1s0x47c5ef6c60e1e9fb:0x8ae15680b8a17e39" target="_blank">Haarlem - The Netherlands</a>
          </div>

          <div class="contact-links">
            <i class="mdi mdi-car"></i>
            <div>License: Category B</div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <a href="#portfolio">
    <div class="sphere" style="background-color:#F5F6FA">
      <i class="fa fa-angle-down" style="color: #1B1E25"></i>
    </div>
  </a>
</div>

<div class="portfolio" id="portfolio">

  <h2>Let's <b>Create</b> and Play!</h2>
  <div class="line-center"></div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="container-macbook">
          <% link_to "https://project-48hrs.herokuapp.com/", target: "_blank" do %>
            <%= image_tag "mbp_1.png", class: "macbook" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="content-portfolio">
          <h3>48 HRS</h3>
          <p>
            <%= link_to "<i>Project 48 hrs</i>", \
            "https://project-48hrs.herokuapp.com/", class:"link-project", target: "_blank"%>
            is a <i>Ruby</i> and <i>Ruby on Rails</i> project made in less than two weeks time during our coding bootcamp by
            <%= link_to "<i>Le Wagon</i>", \
            "https://www.lewagon.com/amsterdam", class:"link-project", target: "_blank"%>
            in
            <%= link_to "<i>B. Amsterdam</i>", \
            "http://www.b.amsterdam/", class:"link-project", target: "_blank"%>
            in March 2016.
          </p>
          <p>My tasks as lead-developer where to do the back-end,
          front-end and guide my team mates through the process
          and work on a great collaboration.</p>
        </div>
      </div>
    </div>
  </div>
    <a href="#education">
      <div class="sphere" style="background-color:#1B1E25">
        <i class="fa fa-angle-down" style="color: #FAFAFA"></i>
      </div>
    </a>
</div>


<div class="education" id="education">

  <div class="education-title">
    <h2>The start of my <b>journey</b></h2>
    <!-- <p>For specifieke informatie concerning my work and education have a look at my <a href="https://nl.linkedin.com/in/tim-thuis-8343088b" target="_blank">Linkedin</a>.</p> -->
    <div class="line-white"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="col-sm-3">
          <div class="title-content-edu">
            <h3>Education</h3>
            <div class="underline-h3-edu"></div>
          </div>
        </div>
        <div class="col-sm-9">
          <p>My journey starts in Haarlem at my high-school the <i>Coornhert Lyceum</i>. I've graduated in 2008 with a diploma at VWO level with a background in economic and society with extra classes in theater and management-organisation. In 2009 I've started in a new direction at the Art academy in visual storytelling in <i>Utrecht</i> called the
          <a href="http://www.hku.nl/web/show" target="_blank"><i>HKU</i></a>.
          Graduated with honors after four years of specialising in capturing emotions in media, I was ready to show everyone what I had learned. At the start of this new year I needed a challenging adventure. Coding became a part of my life with a intens 3 months full-time boot-camp by
          <a href="https://www.lewagon.com/amsterdam" target="_blank"><i>Le Wagon</i></a>
           at the dynamic location
          <a href="http://www.b.amsterdam/" target="_blank"><i>B. Amsterdam</i></a>.
          For more detailed information regarding my education have a look at my
          <a href="https://nl.linkedin.com/in/tim-thuis-8343088b" target="_blank"><i>Linkedin</i></a>.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="col-sm-2">
          <div class="title-content-edu">
            <h3>Work</h3>
            <div class="underline-h3-work"></div>
          </div>
        </div>
        <div class="col-sm-10">
          <p>I've got a passion for creating. This started at high-school at a jeweler called <i>Siebel</i> or as a studio employee of a small advertising company <i>Repro Print Reklame</i>. During the past 5 years I had a lot of fun as a Freelancer working in the visual branch for many different clients and divers projects. Technical knowledge comes easy to me, so it was a logical step to work in the commercial and movie industry as a technical assistant for many of the great visual storytellers of Holland. After a while it started to itch. I started to create products on my own as photographer, cameraman, editor and animator for companies like
          <a href="http://edelmanpr.nl/" target="_blank"><i>Edelman</i></a>,
          <a href="http://www.videonieuwsbericht.nl/?gclid=Cj0KEQjw3Le4BRDxx5bk4aDn9t4BEiQAfmxQGeOwFQfcDON9pyH1RqBDXxq9ZoXJwenbNaePvVkHGKIaAt3W8P8HAQ" target="_blank"><i>Video Nieuws bericht</i></a>, <i>Nike EU</i>, <a href="http://imaginepeople.nl/" target="_blank"><i>Imagine People</i></a> and <a href="http://www.johndoornikcasting.nl/" target="_blank"><i>John Doornik Casting</i></a>.
          Looking at the future I'm prepared to take on every challenge that's comes my way in coding, creating and building creative teams. For more detailed information regarding my work experience have a look at my
          <a href="https://nl.linkedin.com/in/tim-thuis-8343088b" target="_blank"><i>Linkedin</i></a>.</p>
        </div>
      </div>
    </div>
  </div>

  <a href="#skills">
    <div class="sphere" style="background-color:#1B1E25">
      <i class="fa fa-angle-down" style="color: white"></i>
    </div>
  </a>
</div>

<div class="skills" id="skills">

  <div class="title-skills">
    <h2>Let's <b>show</b> off!</h2>
    <p>After a intense coding bootcamp of 3 months, <br>
      I can finally show you what I've learned.</p>
    <div class="line-center"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-skills">
          <div class="skill-container">
            <img src="images/tools.png" class="skills-img">
          </div>

          <h3>Tools</h3>

          <div class="counter">
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Terminal</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Sublime Text</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Git
                <span class="and-sign"> & </span>
                Github</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Adobe Photoshop</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Adobe Illustrator</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-orange"></i>
                <p>Adobe Indesign</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
          <div class="card-skills">
            <div class="skill-container">
              <img src="images/code.png" class="skills-img">
            </div>

            <h3>Coding</h3>

            <div class="counter">
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Ruby</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Ruby on Rails</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>HMTL 5
                <span class="and-sign"> & </span>
                CSS 3</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>PostgreSQL
                <span class="and-sign"> & </span>
                SQLite</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-orange"></i>
                <p>jQuery</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-red"></i>
                <p>Javascript Front-End</p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4">
          <div class="card-skills">
            <div class="skill-container">
              <img src="images/video.png" class="skills-img">
            </div>

            <h3>Video</h3>

            <div class="counter">
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Adobe Premiere Pro</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Adobe After Effects</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check check-green"></i>
                <p>Final Cut Pro</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
    <a href="#home">
      <div class="sphere" style="background-color:#1B1E25;line-height: 40px">
        <i class="fa fa-angle-up" style="color: #FAFAFA"></i>
      </div>
    </a>
</div>

<div class="footer" id="footer">
</div>
